ul li {
	list-style: none;
}
.nav-bar {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #f5f5f5;
}
.nav-bar li a {
	color: #757575;
}
.flex-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}